.container {
  display: grid;

  grid-template-areas:
    "header header header"
	"intro intro intro"
    "content content content"
    "footer footer footer";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 7.7fr 12fr 0.9fr;
  font-family: Roboto;
  height: 100vh;
  
}

.flex-container {
	display:flex;
}

header {
  background-color: #fff;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

body {
	letter-spacing: .01rem;
    line-height: 1.75rem;
}
a {
	color:black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

main {
  background-color: #fff;
  grid-area: content;
  border-bottom: 1px solid gray;
}

.intro{
  background-color: #f5f8fa;
  grid-area: intro;
  border-bottom: 1px solid gray;
}

.caps {
	text-transform: uppercase;
    letter-spacing: .2em;
	font-weight: 700;
}

.caps-intro {
	font-weight: 700;
	font-size: 3rem;
}

.desc-intro {
	font-size: 1.5rem;
	color:gray;
}

.aboutme-header {
	
}

.hidden {
	display: none;
}

div {
	display:block;
}

.marxneg {
    margin-left: -1rem;
    margin-right: -1rem;
}

.mb2 {
    margin-bottom: 1rem;
}

.pad {
	padding-top: 1rem;
    padding-bottom: 1rem;
	padding: .5rem 1rem;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.p3 {
    padding: 2rem;
}

.circle {
    border-radius: 50%;
}

span.contact-items {
	text-align:center;
}

.footer-items {
	display:flex;
	flex-direction: row;
}

.bg-white {
    background-color: #fff;
}

.p1 {
    padding: 0.5rem;
	  margin: 1rem;
}

.square-100 {
    width: 100px;
    height: 100px;
}


.padx {
	padding-left: 2rem;
    padding-right: 2rem;
}

.pady {
	padding-top: 2rem;
    padding-bottom: 2rem;
}

.center {
	text-align: center;
}

.gray {
	color:gray;
}

footer {
  background-color: white;
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
	  "intro"
      "content"
      "footer";

    grid-template-columns: 1fr;
  }
  .flex-container{
      flex-direction: column;
  }
  
}